* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 1920px;
    height: 1086px;
    background: transparent linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%) 0% 0% no-repeat padding-box;
    justify-content: center;
    align-items: center;
}

.satisfy-regular,
h1 {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 160px;
    color: #FFFFFF;

}

.varela-round-regular,
h2 {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {

    position: absolute;
    top: 337px;
    left: 582px;
    width: 755px;
    height: 204px;

}

h2 {

    position: absolute;
    top: 551px;
    left: 695px;
    width: 529px;
    height: 38px;
    font-size: 32px;
    color: #FFFFFF;
    text-align: right;
    letter-spacing: 0px;
    opacity: 1;

}

p {
    top: 607px;
    left: 446px;
    width: 1028px;
    height: 60px;
    color: #F9F9F9;
    font-size: 16px;
}